*.o
*.Po
*.Plo
*.lo
*.la
*~

*.libs
photoprint
photoprint*.gz
po/remove-potcdate.sed
*test
*check
imagesource/composite
profilemanager/mk*profile

effects/ppeffect_desaturate_icon.cpp
effects/ppeffect_temperature_icon.cpp

po/*.mo
po/POTFILES
po/Rules-quot
po/Makevars.template
po/Makefile.in.in

*ChangeLog

# Autotools
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status*
configure
gettext.h
libtool
m4
scripts/ltmain.sh
scripts/compile
scripts/config.guess
scripts/config.sub
scripts/config.rpath
scripts/install-sh
stamp-h1
ABOUT-NLS
*Makefile
*Makefile.in


