[Desktop Entry]
Version=1.0
#Encoding=UTF-8
Name=PhotoPrint
Name[ru]=Пакетная печать фотографий в PhotoPrint
GenericName=Photo Printing
GenericName[ru]=Печать фотографий
Comment=Color managed printing of multiple photos on single page
Comment[ru]=Цветоуправляемая пакетная печать фотографий
Exec=photoprint %U
Icon=fotoprint
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
MimeType=image/tiff;image/jpeg;image/png;
